In [42]:
from sqlalchemy import create_engine
from config import DATABASE_URI
import psycopg2
engine = create_engine(DATABASE_URI)
print(engine)
conn = psycopg2.connect(DATABASE_URI)

Engine(postgres+psycopg2://postgres:***@localhost:5432/Employee)

ProgrammingError: invalid dsn: missing "=" after "postgres+psycopg2://postgres:postgress@localhost:5432/Employee" in connection info string

In [43]:
from configparser import ConfigParser
 
 
def config(filename='database.ini', section='postgresql'):
    # create a parser
    parser = ConfigParser()
    # read config file
    parser.read(filename)
 
    # get section, default to postgresql
    db = {}
    if parser.has_section(section):
        params = parser.items(section)
        for param in params:
            db[param[0]] = param[1]
    else:
        raise Exception('Section {0} not found in the {1} file'.format(section, filename))
 
    return db

In [44]:
#!/usr/bin/python
import psycopg2
#from config import config
 
def connect():
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # read connection parameters
        params = config()
 
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params)
      
        # create a cursor
        cur = conn.cursor()
        
   # execute a statement
        print('PostgreSQL database version:')
        cur.execute('SELECT version()')
 
        # display the PostgreSQL database server version
        db_version = cur.fetchone()
        print(db_version)
       
       # close the communication with the PostgreSQL
        cur.close()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()
            print('Database connection closed.')
 
 
if __name__ == '__main__':
    connect()

Connecting to the PostgreSQL database...
PostgreSQL database version:
('PostgreSQL 11.5 on x86_64-apple-darwin, compiled by Apple LLVM version 6.0 (clang-600.0.54) (based on LLVM 3.5svn), 64-bit',)
Database connection closed.

In [45]:
import pandas as pd
from pandas import DataFrame


def get_employees():
    """ query data from the employees table """
    conn = None
    try:
        params = config()
        conn = psycopg2.connect(**params)
        cur = conn.cursor()
        cur.execute("SELECT * FROM employees ORDER BY emp_no")
        

        df = DataFrame(resoverall.fetchall())
        df.columns = resoverall.keys()
        
        print("The number of Employees: ", cur.rowcount)
        row = cur.fetchone()
 
        while row is not None:
            print(row)
            row = cur.fetchone()
 
        cur.close()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()

In [46]:
get_employees()

name 'resoverall' is not defined

In [47]:
df

NameError: name 'df' is not defined

In [53]:
import pandas as pd
from sqlalchemy import create_engine

def getData():
  # Parameters
  ServerName = "localhost"
  Database = "Employee"
  UserPwd = "postgres:postgres"
  Driver = "driver=SQL Server Native Client 11.0"

  engine = create_engine("postgres+psycopg2://postgres:postgres@localhost:5432/Employee")

  # Create the connection
 # engine = create_engine('mssql+pyodbc://' + UserPwd + '@' + ServerName + '/' + Database + "?" + Driver)

  sql = "select * from employees"
  df = pd.read_sql(sql, engine)
  return df

df2 = getData()
print(df2)
df2

        emp_no  birth_date first_name      last_name gender   hire_date
0        10001  1953-09-02     Georgi        Facello      M  1986-06-26
1        10002  1964-06-02    Bezalel         Simmel      F  1985-11-21
2        10003  1959-12-03      Parto        Bamford      M  1986-08-28
3        10004  1954-05-01  Chirstian        Koblick      M  1986-12-01
4        10005  1955-01-21    Kyoichi       Maliniak      M  1989-09-12
5        10006  1953-04-20     Anneke        Preusig      F  1989-06-02
6        10007  1957-05-23    Tzvetan      Zielinski      F  1989-02-10
7        10008  1958-02-19     Saniya       Kalloufi      M  1994-09-15
8        10009  1952-04-19     Sumant           Peac      F  1985-02-18
9        10010  1963-06-01  Duangkaew       Piveteau      F  1989-08-24
10       10011  1953-11-07       Mary          Sluis      F  1990-01-22
11       10012  1960-10-04   Patricio      Bridgland      M  1992-12-18
12       10013  1963-06-07  Eberhardt         Terkki      M  1985-10-20
13       10014  1956-02-12      Berni          Genin      M  1987-03-11
14       10015  1959-08-19   Guoxiang      Nooteboom      M  1987-07-02
15       10016  1961-05-02   Kazuhito    Cappelletti      M  1995-01-27
16       10017  1958-07-06  Cristinel      Bouloucos      F  1993-08-03
17       10018  1954-06-19   Kazuhide           Peha      F  1987-04-03
18       10019  1953-01-23    Lillian        Haddadi      M  1999-04-30
19       10020  1952-12-24     Mayuko        Warwick      M  1991-01-26
20       10021  1960-02-20      Ramzi           Erde      M  1988-02-10
21       10022  1952-07-08     Shahaf         Famili      M  1995-08-22
22       10023  1953-09-29      Bojan     Montemayor      F  1989-12-17
23       10024  1958-09-05    Suzette         Pettey      F  1997-05-19
24       10025  1958-10-31  Prasadram         Heyers      M  1987-08-17
25       10026  1953-04-03   Yongqiao       Berztiss      M  1995-03-20
26       10027  1962-07-10     Divier        Reistad      F  1989-07-07
27       10028  1963-11-26   Domenick       Tempesti      M  1991-10-22
28       10029  1956-12-13      Otmar         Herbst      M  1985-11-20
29       10030  1958-07-14      Elvis        Demeyer      M  1994-02-17
...        ...         ...        ...            ...    ...         ...
299994  499970  1963-03-25      Danai        Hedayat      M  1994-08-06
299995  499971  1963-12-28        Uwe         Uludag      M  1989-02-26
299996  499972  1957-07-25     Katsuo         Leuchs      F  1989-11-23
299997  499973  1963-06-03      Lobel        Taubman      M  1994-02-01
299998  499974  1956-09-10    Shuichi         Piazza      F  1989-09-16
299999  499975  1952-11-09     Masali        Chorvat      M  1992-01-23
300000  499976  1963-08-20   Guozhong         Felder      M  1988-12-26
300001  499977  1956-06-05    Martial        Weisert      F  1996-09-17
300002  499978  1960-03-29  Chiranjit        Kuzuoka      M  1990-05-24
300003  499979  1962-10-29  Prasadram  Waleschkowski      M  1994-01-04
300004  499980  1959-06-28       Gino          Usery      M  1991-02-11
300005  499981  1955-01-02    Yunming         Mitina      F  1991-03-07
300006  499982  1954-08-25   Mohammed       Pleszkun      M  1986-02-21
300007  499983  1955-08-29        Uri         Juneja      F  1989-08-28
300008  499984  1959-08-31    Kaijung         Rodham      M  1985-09-11
300009  499985  1964-12-26       Gila    Lukaszewicz      M  1997-02-11
300010  499986  1952-07-22     Nathan          Ranta      F  1985-08-11
300011  499987  1961-09-05      Rimli         Dusink      F  1998-09-20
300012  499988  1962-09-28   Bangqing        Kleiser      F  1986-06-06
300013  499989  1954-05-26  Keiichiro      Lindqvist      M  1993-10-28
300014  499990  1963-11-03     Khaled        Kohling      M  1985-10-10
300015  499991  1962-02-26      Pohua        Sichman      F  1989-01-12
300016  499992  1960-10-12     Siamak       Salverda      F  1987-05-10
300017  499993  1963-06-04   DeForest   Mullainathan      M  1997-04-07
300018  499994  1952-02-26      Navin        Argence      F  1990-04-24
300019  499995  1958-09-24     Dekang       Lichtner      F  1993-01-12
300020  499996  1953-03-07       Zito           Baaz      M  1990-09-27
300021  499997  1961-08-03    Berhard         Lenart      M  1986-04-21
300022  499998  1956-09-05   Patricia        Breugel      M  1993-10-13
300023  499999  1958-05-01     Sachin        Tsukuda      M  1997-11-30

[300024 rows x 6 columns]

        emp_no  birth_date first_name      last_name gender   hire_date
0        10001  1953-09-02     Georgi        Facello      M  1986-06-26
1        10002  1964-06-02    Bezalel         Simmel      F  1985-11-21
2        10003  1959-12-03      Parto        Bamford      M  1986-08-28
3        10004  1954-05-01  Chirstian        Koblick      M  1986-12-01
4        10005  1955-01-21    Kyoichi       Maliniak      M  1989-09-12
5        10006  1953-04-20     Anneke        Preusig      F  1989-06-02
6        10007  1957-05-23    Tzvetan      Zielinski      F  1989-02-10
7        10008  1958-02-19     Saniya       Kalloufi      M  1994-09-15
8        10009  1952-04-19     Sumant           Peac      F  1985-02-18
9        10010  1963-06-01  Duangkaew       Piveteau      F  1989-08-24
10       10011  1953-11-07       Mary          Sluis      F  1990-01-22
11       10012  1960-10-04   Patricio      Bridgland      M  1992-12-18
12       10013  1963-06-07  Eberhardt         Terkki      M  1985-10-20
13       10014  1956-02-12      Berni          Genin      M  1987-03-11
14       10015  1959-08-19   Guoxiang      Nooteboom      M  1987-07-02
15       10016  1961-05-02   Kazuhito    Cappelletti      M  1995-01-27
16       10017  1958-07-06  Cristinel      Bouloucos      F  1993-08-03
17       10018  1954-06-19   Kazuhide           Peha      F  1987-04-03
18       10019  1953-01-23    Lillian        Haddadi      M  1999-04-30
19       10020  1952-12-24     Mayuko        Warwick      M  1991-01-26
20       10021  1960-02-20      Ramzi           Erde      M  1988-02-10
21       10022  1952-07-08     Shahaf         Famili      M  1995-08-22
22       10023  1953-09-29      Bojan     Montemayor      F  1989-12-17
23       10024  1958-09-05    Suzette         Pettey      F  1997-05-19
24       10025  1958-10-31  Prasadram         Heyers      M  1987-08-17
25       10026  1953-04-03   Yongqiao       Berztiss      M  1995-03-20
26       10027  1962-07-10     Divier        Reistad      F  1989-07-07
27       10028  1963-11-26   Domenick       Tempesti      M  1991-10-22
28       10029  1956-12-13      Otmar         Herbst      M  1985-11-20
29       10030  1958-07-14      Elvis        Demeyer      M  1994-02-17
...        ...         ...        ...            ...    ...         ...
299994  499970  1963-03-25      Danai        Hedayat      M  1994-08-06
299995  499971  1963-12-28        Uwe         Uludag      M  1989-02-26
299996  499972  1957-07-25     Katsuo         Leuchs      F  1989-11-23
299997  499973  1963-06-03      Lobel        Taubman      M  1994-02-01
299998  499974  1956-09-10    Shuichi         Piazza      F  1989-09-16
299999  499975  1952-11-09     Masali        Chorvat      M  1992-01-23
300000  499976  1963-08-20   Guozhong         Felder      M  1988-12-26
300001  499977  1956-06-05    Martial        Weisert      F  1996-09-17
300002  499978  1960-03-29  Chiranjit        Kuzuoka      M  1990-05-24
300003  499979  1962-10-29  Prasadram  Waleschkowski      M  1994-01-04
300004  499980  1959-06-28       Gino          Usery      M  1991-02-11
300005  499981  1955-01-02    Yunming         Mitina      F  1991-03-07
300006  499982  1954-08-25   Mohammed       Pleszkun      M  1986-02-21
300007  499983  1955-08-29        Uri         Juneja      F  1989-08-28
300008  499984  1959-08-31    Kaijung         Rodham      M  1985-09-11
300009  499985  1964-12-26       Gila    Lukaszewicz      M  1997-02-11
300010  499986  1952-07-22     Nathan          Ranta      F  1985-08-11
300011  499987  1961-09-05      Rimli         Dusink      F  1998-09-20
300012  499988  1962-09-28   Bangqing        Kleiser      F  1986-06-06
300013  499989  1954-05-26  Keiichiro      Lindqvist      M  1993-10-28
300014  499990  1963-11-03     Khaled        Kohling      M  1985-10-10
300015  499991  1962-02-26      Pohua        Sichman      F  1989-01-12
300016  499992  1960-10-12     Siamak       Salverda      F  1987-05-10
300017  499993  1963-06-04   DeForest   Mullainathan      M  1997-04-07
300018  499994  1952-02-26      Navin        Argence      F  1990-04-24
300019  499995  1958-09-24     Dekang       Lichtner      F  1993-01-12
300020  499996  1953-03-07       Zito           Baaz      M  1990-09-27
300021  499997  1961-08-03    Berhard         Lenart      M  1986-04-21
300022  499998  1956-09-05   Patricia        Breugel      M  1993-10-13
300023  499999  1958-05-01     Sachin        Tsukuda      M  1997-11-30

[300024 rows x 6 columns]